/* 1. Import the Tailwind V4 Engine */
@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-axle-blue: #0088ff;
  --color-axle-dark: #0f172a;
}

body {
  background-color: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a;
  }
}
